# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# Data files
data/
*.csv
*.db

# Images and Plots
# images/

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/